# Impedir que se listen los archivos de las carpetas
Options -Indexes

RewriteEngine On

# 1. La ventanilla de trámites (Esto es lo único que el guardia deja pasar directo)
RewriteRule ^iniciar$ app/auth_login.php [L,QSA]
RewriteRule ^logout$ app/cerrar_sesion.php [L]

RewriteRule ^addRol$ app/registroRol.php [L]
RewriteRule ^addEstadoGen$ app/registrar_estado_gen.php [L]
RewriteRule ^addEstadoPlatillo$ app/registrar_estado_platillo.php [L]
RewriteRule ^addNuevaCategoria$ app/registrar_new_categoria.php [L]
RewriteRule ^addNewUsuario$ app/registrar_usuario.php [L]
RewriteRule ^addNewPlatillo$ app/registrar_platillo.php [L]

# 2. Proteger archivos reales (Para que las imágenes y el CSS sigan funcionando)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# 3. EL EMBUDO UNIVERSAL (Todo lo demás se va al recepcionista)
RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]


RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ index.php?page=$1 [L]